.input {
    min-width: .5em;
    min-height: 1.75em;
    background-color: rgb(183, 218, 213);
    border-radius: 1rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.button {
    background-color: rgb(183, 218, 213);
    border: .125em solid #1A1A1A;
    border-radius: 1em;
    color: #000000;
    cursor: pointer;
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    line-height: normal;
    margin: .3rem;
    min-height: .75em;
    min-width: 0.75em;
    outline: none;
    padding: .2em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .button:disabled {
    pointer-events: none;
   }
   
   .button:hover {
    color: #fff;
    background-color: #2db945e1;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   .button:active {
    box-shadow: none;
    transform: translateY(0);
}

