/* position: relative;
    left: 43%;
    bottom: 95px; */
.button {
    color: ghostwhite;
    left: 45%;
    bottom: 95px;       
    cursor: pointer;
    border: none;        
    padding: 0.5em 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight:  700;
    font-size: .9em;
    border-radius: 250em;
    background: #ff6666;
    
}
       

.button:hover {
    color: black;
}

